.ui-autocomplete {
                background-color: white;
                width: 17%;
                border: 1px solid #cfcfcf;
				border-top:none;
                list-style-type: none;
                padding-left: 0px; font-family:Arial, Helvetica, sans-serif; cursor:pointer; font-size:12px;
            }
 .ui-menu-item {padding:3px 0;}
 
 