@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

.hebrew{
	direction:rtl;
}

@right:left ;
@left:right ;

.pull-left{
	float: @left !important;
}
.pull-right{
	float: @right !important;
}
.span9{
.pull-left;
}
.span3{
.pull-right;
}
/* ---for footer start-- */
#footer #foot_icon li i{
margin-right:-15px;
}
.likebox.offset1{
margin-left:0px;
}
/* ---for footer end-- */


/* .row-fluid [class*="span"]:last-child {
  margin-right: 0 !important;
}

.row-fluid [class*="span"] {
  margin-right: 2.127659574468085% !important;
  margin-left: 0% !important;
} */
.row-fluid [class*="span"]:first-child {
  margin-right: 0 !important;
  float:right;
}

.row-fluid [class*="span"] {
  margin-right: 2.127659574468085% !important;
  margin-left: 0% !important;
  float: @left !important;
}
.navbar .nav > li {
float: right ;
}

/* calendar css */
.calTimeSlot{
left:auto !important;
}
#calNavData li , .controlsContainer{
float: right;
}
div.calNavigation {
float: left !important;
}
/* calendar css end*/
/* favroite business */
.li-element li:nth-child(4n + 5){
	margin-right: 0 !important;
	}
/* favroite business */
.dl-horizontal dt {
  float: right;
  clear: right;
  /* text-align: right !important; */
}
.dl-horizontal dd {
  margin-right: 180px;
  margin-left:0px;
}
.form-horizontal .control-label {
  float: right;
  text-align: left;
}
.form-horizontal .controls {
  margin-right: 180px;
  margin-left: 0px;
}
.rating-div .ul-rating {
right:auto ;
left:0;
}
.business_profile .days_dl dd {
margin-right: 90px ;
margin-left: 0px ;
}
.btn-group .left{
float:left !important;
}
.input-append{
input{border-radius: 0px !important;}
.add-on:last-child{border-radius: 0px;
}
}
.close{float:left;}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
float: right;
margin-left: 20px;
}
.row-fluid input[class*="span"]{
margin-right:0px !important;
}
.row-fluid textarea[class*="span"]{
margin-right:0px !important;
}
.form-setting .control-label {
width: 400px;
text-align: right;
}
.row-fluid .offset2 {
margin-right: 19.148936170212764% !important;
}
 .row-fluid .offset3 {
margin-right: 25.53191489361702% !important;
} 
.row-fluid .offset4  {
margin-right: 34.04255319148936% !important;
}
.login_page{ .row-fluid .offset4  {
margin-right: 34.04255319148936% !important;
input.span8{ float: none !important;}
.notification-link { margin-right: 10px !important; }
#passwordStrength { float:right;}
.select-gender{ margin-right:0px !important;}
}
}
.login_form input {
height: 42px;
}
#create-user-modal{ .row-fluid input[class*="span"] , .row-fluid .offset3  {
margin-right: 25.53191489361702% !important;
}
}
.nav-tabs > li{
float:right
}
.checkbox input[type="checkbox"] {
float: right;
margin-right: 20px;
margin-left: 20px;
}
.checkbox {
padding-right: 20px;
}
#postclass .add-repeat {
left: 30px;
right:auto;
}
#postclass .form-horizontal .controls {
margin-right: 120px;
margin-left: 12px;
}
#postclass .span9 {
border-right: 1px solid #ccc;
}
.form-appointment .controls {
margin-left: 0px !important;
margin-right: 80px;
}
.appoint-heading {
text-align: right !important;
margin-right: 5px !important;
}
#bookApp .appointment-popup-ul input {
margin-left: 10px !important;
}
.agenda-table .td-info  li:first-child{
padding-right:0px;
}
.popover.bottom {
margin-left: -10px;
	.arrow:after {
	margin-right: -10px;
	}
}
.sp-slider li{
opacity:1;
}
label.checkbox  {
padding-right:0px;
input[type="checkbox"]{
margin-right: 0;
margin-left: 10px;
}
}
.comment-box form .control-comment .controls{ 
	margin-left: 0 !important;
	margin-right: 60px;
}
.comment-box .comment-list .media .pull-left {
	margin-left: 10px;
	margin-right: 0px;
}
.comment-box .comment-post 
.comment-box .comment-post { text-align:right;
 button { margin:4px 4px 6px 0px;  }
 }
 .datepicker.dropdown-menu{
	z-index:9999;
 }
 .input-append input, .input-append select, .input-append .uneditable-input{
-webkit-border-radius: 0 9px 9px 0;
-moz-border-radius: 0 9px 9px 0;
border-radius: 0 9px 9px 0 !important;
 }
 .input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle{
-webkit-border-radius: 9px 0 0 9px;
-moz-border-radius: 9px 0 0 9px;
border-radius: 9px 0 0 9px;
 }
 .text-right{ text-align:left; }
 .text-left{ text-align:right; }
 
 .modal .row-fluid input.offset3{
 margin-right: 25.53191489361702% !important;
 }
 
 
/*  ------------agenda------------ */
 .fc-agendaList-day {
  float:right !important;
 }
 .fc-agendaList-date , .fc-header-right{
 float:left !important;
 }

.fc-header{
direction: rtl!important;
}
 .fc-content{
 text-align: right!important;
 } 
 .fc-header-left , .fc-header-right{direction: ltr;}
 .fc-header-left{ 
text-align: right !important;}
select#staffCal{
 margin-top: -4px;
 }
 .fc-event-time{
	width: 40% !important;
 }
 .fc-eventlist-desc i.icon-map-marker , .fc-event-start-time i.icon-time{
	float: right;
	padding-top: 3px;
 }
 .modal-footer .btn + .btn {
margin-right: 5px;
margin-left: 0px;
margin-bottom: 0;
}
.fc-header .fc-header-right{
text-align: left;
}